[Desktop Entry]
Encoding=UTF-8
Name=ojacoin
Comment=ojacoin P2P Cryptocurrency
Comment[fr]=ojacoin, monnaie virtuelle cryptographique pair à pair
Comment[tr]=ojacoin, eşten eşe kriptografik sanal para birimi
Exec=ojacoin-qt %u
Terminal=false
Type=Application
Icon=bitcoin128
MimeType=x-scheme-handler/ojacoin;
Categories=Office;Finance;
